
@font-face {
    font-family: 'montserratbold';
    src: url('/wp-content/themes/russellbates-alt/css/font/montserrat-bold-webfont.eot');
    src: url('/wp-content/themes/russellbates-alt/css/font/montserrat-bold-webfont.eot#iefix') format('embedded-opentype'),
		url('/wp-content/themes/russellbates-alt/css/font/montserrat-bold-webfont.svg#montserratbold') format('svg'),
		url('/wp-content/themes/russellbates-alt/css/font/montserrat-bold-webfont.woff') format('woff'),
         url('/wp-content/themes/russellbates-alt/css/font/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('/wp-content/themes/russellbates-alt/css/font/montserrat-regular-webfont.eot');
    src: url('/wp-content/themes/russellbates-alt/css/font/montserrat-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('/wp-content/themes/russellbates-alt/css/font/montserrat-regular-webfont.svg#montserratregular') format('svg'),
		 url('/wp-content/themes/russellbates-alt/css/font/montserrat-regular-webfont.woff') format('woff'),
         url('/wp-content/themes/russellbates-alt/css/font/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body {
	background-color: #ddd;
	font-family: "Open Sans";
	}


	* {
		
		-webkit-text-size-adjust: 100%
	}

/*   HEADER   */

	a {
		color: #ff5a01;
	}

header {
	height: 90px;
	background-color: #222222;
	position: relative;
	z-index: 50;
}

#site-title {
	position: absolute;
	top: 20px;
	left: 7%;
}

#site-title h1.site-name, #site-title div.site-name {
	font-family: "Open Sans";
	font-size: 30px;
	color: #ff5a01;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;

}


#site-title p {
	font-family: "Open Sans";
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	
}

#site-title p a {
	color: inherit;
	
}

#header-drop {
	height: 20px;
	background-image: url(/wp-content/themes/russellbates-alt/css/images/header-drop.png);
	background-repeat: repeat-x;
	position: relative;
	left: 0px;
	right: 0px;
	z-index: 50;
}

#main {
	margin-top: -20px;
}


/*   NAV    */     

nav {
	position: absolute;
	right: 7%;
	top: 50%;
	margin-top: -7px;
	font-size: 14px;
	line-height: 14px;	
	font-family: "montserratregular";
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav a {
	text-decoration: none;
	color: #ff5a01;
}

nav a:hover {
	text-decoration: none;
	color: #ffffff;
}

nav li {
	float: left;
	margin-left: 20px;
}

nav .current-menu-item  a {
	text-decoration: none;
	color: #ffffff;
}




/*   CONTAINER   */



#container-main {
	background-color: #ffffff;
	max-width: 1200px;
	margin: 0 auto;
}



/*     HERO BLOCK      */

.home #hero-block {
	height: 400px;
	background-color: #dddddd;
	background-image: url(/wp-site/wp-content/uploads/2014/04/home-image.jpg);
	background-size: 100% auto;
	background-position: center center;
}



/*     FEATURED BLOCK        */

#featured-block {
	margin-bottom: 40px;
	text-align: left;
}

#featured-heading h2 {
	font-family: "montserratregular";
	text-transform: uppercase;
	left: 7%;
	bottom: 15px;
	position: absolute;
	color: #999;
	font-size: 16px;
	font-weight: 300;
	
}

#featured-heading {
	position: relative;
	height: 70px;
}


#featured-heading h4 {
	font-family: "montserratregular";
	text-transform: uppercase;
	position: absolute;
	right: 7%;
	bottom: 15px;
	font-size: 16px;
	color: #999;
	font-weight: 300;
}

#featured-heading h4 a {
	color: inherit;
	text-decoration: none;
}

#featured-block ul.featured li {
	width: 25%;
	float: left;
	padding-top: 25%;
}

#featured-block ul.featured li.feat-1 {
	background-color: #dddddd;
	
}

#featured-block ul.featured li.feat-2 {
	background-color: #ccc;
	
}

#featured-block ul.featured li.feat-3 {
	background-color: #bbb;
	
}

#featured-block ul.featured li.feat-4 {
	background-color: #aaa;
	
}

/* 	STATIC PAGE   */

.content-container-1 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#eaeaea; /* column 2 background colour */
}
.content-container-2 {
	float:left;
	width:100%;
	position:relative;
	right:30%;
	background:#ffffff; /* column 1 background colour */
}
.col1 {
	float:left;
	width:58%;
	position:relative;
	left:38%;
	overflow:hidden;
	padding-top: 40px;
	padding-bottom: 100px;
}

.col1 p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 22px;
	
}

.col1 p strong {
	text-transform: uppercase;
	font-weight: 700;
}

.col2 {
	float:left;
	width: 22%;
	position:relative;
	left:46%;
	overflow:hidden;
	padding-top: 40px;
}

.col2 h3 {
	font-family: "montserratregular";
	text-transform: uppercase;
	color: #222;
	font-size: 20px;
	margin-bottom: 15px;
}

.col2 p {
	font-size: 13px;
	color: #222;
	line-height: 22px;
	
}

.col2 a {
	color: #fc5b01;
}

.col2 hr {
	margin: 20px;
	border: none;
	height: 1px;
	background-color: #bbb;
}

a.button {
	display: inline-block;
	background-color: #fc5b01;
	padding: 10px 15px;
	font-family: "montserratregular";
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	font-weight: 300;
	letter-spacing: 1px;
}

.slide {
    height: 400px;
	width: 100%;
	background-size: 100% auto;
	background-position: center center;
}


.slides_container {
    width: 100%;
    height: 400px;
	position: relative;
}
.slides_container div {
    width: 100%;
    height: 400px;
    display:block;
}

.slides_container {
}

.slides_control {
	  width: 100% !important;
	
}


ul.pagination {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 50;
}

ul.pagination li {
	float: left;
	height: 18px;
	width: 18px;
	margin-right: 16px;
}
ul.pagination li a {
	border-radius: 10px;
	height: 18px;
	width: 18px;
	background-color: #ffffff;
	text-indent: -999em;
	display: block;
	box-shadow: 0 2px 4px #000000;
}

ul.pagination li.current a {
	border-radius: 10px;
	height: 12px;
	width: 12px;
	border: 3px solid #ffffff;
	background-color: #000000;
	text-indent: -999em;
	display: block;
	
}

#hero-block {
	position: relative;
	
}
/* 	WORK LIST */

#category-block {
	padding: 32px 0 26px 0;
	text-align: center;
	background-color: #fafafa;
}

#category-block ul li {
	display: inline-block;
	margin: auto 10px;
	font-family: "montserratregular";
	text-transform: uppercase;
	font-size: 12px;
}



#category-block ul li a {
	color: #aaa;
	background-color: #fafafa;

}

.post-type-archive-work #category-block ul li.grab-bag a {
	color: #fc5b01;
	background-color: #fafafa;
	
}

.page-id-430  #category-block ul li.grab-bag a {
	color: #fc5b01;
	background-color: #fafafa;
	
}

.category #category-block ul li.current-cat a {
	color: #fc5b01;
	background-color: #fafafa;
	
}

ul.tile-list {
	padding: 5px;
}

ul.tile-list li {
	width: 33.33%;
	padding-top: 22%;
	display: inline-block;
	position: relative;
	background-size: cover;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	background-position: center center;
}


#featured-block ul.tile-list li {
	width: 25%;
	padding-top: 18%;
	display: inline-block;
	position: relative;
	background-size: cover;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	background-position: center center;
}

ul.tile-list li a {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
}

ul.tile-list li h3 {
	font-size: 22px;
	font-family: "montserratregular";
	text-transform: uppercase;
	line-height: 24px;
	margin-bottom: 5px;
	text-shadow: rgba(0,0,0,.4) 0px 2px 4px;
}

ul.tile-list li p {
	font-size: 14px;
	line-height: 22px;
	text-shadow: rgba(0,0,0,.4) 0px 2px 4px;
}

ul.tile-list li a {
	text-decoration: none;	
	color: #ffffff;
}

ul.tile-list li .tile-overlay {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: #ffffff;
	display: block;
	padding: 4%;
}

ul.tile-list li .tile-overlay a {
	display: block;
	padding: 5%;
	height: 80%;
	width: 80%;
}



li.cat-item-1 {
	display: none;
}

/* 	SINGLE WORK PAGE */

.single-work #content-body {
	text-align: center;
	padding-top: 44px;
}

.single-work #content-body h1 {
	font-size: 30px;
	font-family: "montserratregular";
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 30px;
}

#vid-container {
	width: 76%;
	margin: 0 auto;
	padding-top: 42.75%;
	position: relative;
	margin-bottom: 20px;
	
}

.single-work #content-body iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.content-text {
	padding: 0 12%;
	text-align: left;
	margin-bottom: 30px;
}

.content-text p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}

.content-text p strong {
}

.content-text p em {
}

/*      FOOTER       */

footer {
	background-color: #222222;
	padding: 40px;
	text-align: center;
	color: #ffffff;
	font-family: "montserratregular";
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

footer h3 {
	margin-bottom: 10px;
	font-size: 20px;
}

footer ul li {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	border-right: 2px solid #ffffff;
}

footer ul li.last {
	border-right: none;
	
}

footer ul.smaller {
	margin-top: 10px;
	font-size: 11px;
}

footer ul.smaller li {
	padding: 1px 10px 1px 10px;

}

/*     TILE DUMMIES      */

li.four-5 {
	display: none;
}

li.four-6 {
	display: none;
}

li.four-7 {
	display: none;
}

/* CONTACT FORMS STUFF */


.page-id-362 .col1 h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-family: "montserratregular";
	margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"],
textarea, select {
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 8px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666;
    margin: 0;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    width: 400px;
    color: #999;
    -moz-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
    box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
    border: 1px solid #d4d4d4;
	margin-top: 10px;
	box-sizing: border-box;

}


input[type="text"], input[type="email"] {
	width: 350px;
	
}

textarea {
	width: 100%;
	
}


form p {
	font-size: 10px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
textarea:focus {
    border: 1px solid #bbb;
    color: #333;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	
}

input[type=submit] {
    margin: 0 5px 5px 0;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 20px;
    border: 1px solid #ddd;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-color: #F9F9F9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
    -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}


.wpcf7-form .invalid {
    color: #bf1515 !important
}

.wpcf7-not-valid {
    border: 1px solid #bf1515 !important;
}

.wpcf7 span.wpcf7-not-valid-tip {
    display: none
}

div.wpcf7-response-output {
    margin: 0px !important;
    padding: 5px 10px !important;
}

div.wpcf7-mail-sent-ok, div.wpcf7-mail-sent-ng, div.wpcf7-spam-blocked,
div.wpcf7-validation-errors {
    position: relative;
    border: 1px solid #ddd !important;
    display: block;
    background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
    background-color: #F7F7F7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    font-weight: 600;
    padding: 10px 40px !important;
    text-align: center;
}

div.wpcf7-mail-sent-ok {
    background-image: linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);
    background-color: #e9f2d2;
    border-color: #c0da66 !important;
    color: #88b12b;
}

.single-reels h2 {
	font-size: 26px;
	font-family: 'montserratregular';
	text-transform: uppercase;
}

.single-reels .pitch-text {
	
	font-size: 14px;
	line-height: 23px;
	max-width: 700px;
	width: 70%;
	text-align: left;
	margin: 10px auto 0 auto;
	
}