@media screen and (max-width: 1000px) and (min-width: 700px) {
  .tile-list li {
	  width: 33.333333% !important;
	  padding-top: 22% !important;
 	 
 
  }
	
  li.three-4 {
  	display: none;
  }

  li.three-5 {
  	display: none;
  }

  li.three-6 {
  	display: none;
  }
  
  li.three-7 {
  	display: none;
  }
  
  
 #featured-block .tile-list li {
	  width: 25% !important;
	  padding-top: 25% !important;
 	 
 
  }
  

  
}

@media screen and (max-width: 840px) and (min-width: 480px) {
    #featured-block .tile-list li {
   	  width: 50% !important;
   	  padding-top: 33% !important;
 	 
 
     }

}

@media screen and (max-width: 700px) and (min-width: 480px) {
  .tile-list li {
	  width: 50% !important;
   	  padding-top: 33% !important;
  }

  #container-main {
	  width: 100% !important;
  }
  



  li.two-3 {
  	display: none;
  }

  li.two-4 {
  	display: none;
  }

  li.two-5 {
  	display: none;
  }
  
  li.extra.four-2 {
  	display: none;
  }

}


@media screen and (max-width: 860px) and (min-width: 800px) {
	
	.slide {
		
		background-size: 100% auto  !important;
		background-position: center center !important;
	}
	
}


@media screen and (max-width: 800px) {
	
	.slide {
		
		background-size: auto 100%  !important;
		background-position: center center !important;
	}
	
}


@media screen and (max-width: 980px) {
	
	#hero-block {
		
		background-size: auto 100%  !important;
		background-position: center center !important;
	}
	
}


@media screen and (max-width: 840px) {

    #hero-block {
  	  background-size: auto 101% !important;
	  width: 100% !important;

	  height: 400px !important;
    }

	.slides_container {
	}
	
	.slides_control {
    	  width: 100% !important;
		
	}
    #container-main {
  	  width: 100% !important;
    }

	.slide {
		
		background-position: center center !important;
	}

	.content-container-1 {
		clear:left;
		float: none;
		width:100%;
		background:transparent; /* column 2 background colour */
	}
	.content-container-2 {
		float:none;
		width:100%;
		position:relative;
		right: auto;
		background:#ffffff; /* column 1 background colour */
	}
	.col1 {
		float:none;
		width: 86%;
		position:relative;
		left:auto;
		overflow:hidden;
		padding: 7%;
		
	}

	.col2 {
		float:none;
		width: 86%;
		position:relative;
		left: auto;
		overflow:hidden;
		padding: 7%;
		background-color: #eee;
	}

}


@media screen and (max-width: 640px) {
	#vid-container {
		width: 100%;
		margin: 0 auto;
		padding-top: 56.25%;
		position: relative;
		margin-bottom: 20px;
	
	}
	
	
}

@media screen and (max-width: 480px) {
  .tile-list li {
	  width: 90% !important;
	  padding-top: 40% !important;
	  margin-left: 5%;
	  border-radius: 10px;
	  box-shadow: 0 3px 10px rgba(0,0,0,.4);
	  margin-bottom: 5%;
  	  background-size: 100% auto !important;
	  background-position: top left;
	  background-repeat: no-repeat;
	  border: 0px solid #000;
	 
  }
  .tile-list li div.tile-overlay {
	  display: block !important;
	  position: relative !important;
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
  }
  
    .tile-list li div.tile-overlay a {
 	  padding: 7% !important;
  
}
    .tile-list li div.tile-overlay a h3 {
    	margin-bottom: 2%;
    }  


	#site-title {
		position: static;
		top: auto;
		left: auto;
		padding: 5%;
		
		}
	
	nav {
		position: static;
		font-size: 14px;
		line-height: 14px;	
		font-family: "Montserrat";
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-top: 0px;
		top: auto;
		padding: 3% 5%;
		background-color: #292929;
		border-top: 1px solid #2d2d2d;
		left: auto;
		
	}
	
	nav li {
		margin-left: 0px;
		margin-right: 5%;
	}
	
	header {
		background-color: #222222;
		position: static;
		z-index: 50;
		height: auto;

	}
	
	#featured-block {
		background-color: #f6f6f6;
		margin-top: 40px;
	}
	
	#featured-heading {
		height: 56px;
		border-top: 4px solid #ddd;
	}
	
	#featured-heading h2 {
		left: 5%;
		font-size: 20px;
	}
	
	#featured-heading h4 {
		right: 5%;
		font-size: 12px;

	}
	
	a.mobile-feat-link {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	

	.slides_container {
	    width: 100%;
	    height: 300px;
		position: relative;
		margin-top: 0% !important;
	}
	
	.slides_container div {
	    width: 100%;
	    height: 300px;
	    display:block;
	}
	
	#hero-block {
		height: 300px !important;
		padding-top: 0 !important;
	}
	
	.slide {
		background-size: auto 100% !important;
		background-position: center center !important;
	}
	#hero-container {
		overflow: hidden;
	}
	
	footer ul li {
		display: block;
		text-align: center;
		padding: 2%;
		border-right: none;
	}
	
	.slides_control {
		width: 100% !important;
	}
	
	#category-block {
		padding: 0 0 2% 0 !important;
		margin: 0 0 5% 0 !important;
		background-color: #eee !important;
	}
	
	.single-reels #category-block {
		padding: 6% 0 6% 0 !important;
		margin: 0 0 5% 0 !important;
		background-color: #eee !important;
	}
	
	
	#category-block ul li {
		display: block !important;
		padding: 5% 2% 3% 2%;
		float: left !important;
		width: 46% !important;
		margin: 0 !important;
	}
	
    li.extra {
    	display: none;
    }
}